<h1>Twstat#dashboard</h1>

<p>Logged in as <%=h session[:username] %> (<%=h session[:userid] %>)</p>

<% if @user_status['status'] == 'busy' %>

  <p>
  Processing Twitter archive... <br />
  <%= @user_status['tweetsDone'] %> tweets back to 
  <%= @user_status['untilDate'] %>

<% else %>  

  <% if @user_status['status'] == 'error' %>
    <p class='error'><%= @user_status['errorMsg'] %></p>
  <% end %>

  <p>
  <% if @user.report %>
    <%= link_to 'View report', :action => :report, :userid => @userid %>
  <% else %>
    No saved report.
  <% end %>

  <%= form_tag({ :action => :upload }, :multipart => true) do %>
    tweets.zip file: <%= file_field_tag :tweetdata %>
    <%= submit_tag('Upload') %>
  <% end %>

<% end %>

<p><%= link_to 'Logout', :action => :logout %>
