<div class="page-header">
<h1>Twitter Archive Stats - Dashboard</h1>
</div>

<p><small>Logged in as <%=h session[:username] %> (<%=h session[:userid] %>)</small></p>

<% case @user_status['status'] %>
<% when 'busy' %>

  <p>
  <% if @cancel %>
    Canceling...
  <% else %>
    Processing Twitter archive... <br />
    <%= @user_status['tweetsDone'] %> tweets back to 
    <%= @user_status['untilDate'] %>
    <%= render :partial => 'cancelbutton' %>
  <% end %>

<% when 'waiting' %>
  <p>
  <% if @cancel %>
    Canceling...
  <% else %>
    Queued...
    <%= render :partial => 'cancelbutton' %>
  <% end %>

<% else %>  

  <% if @user_status['status'] == 'error' %>
    <p class="text-error"><%= @user_status['errorMsg'] %></p>
  <% end %>

  <p>
  <% if @last_generated %>
    <%= link_to 'View report', { :action => :report, :userid => @userid }, :class => 'btn' %><br />
    <small>(Last report run: <%= @last_generated.strftime '%Y-%m-%d %H:%M' %>)</small>
  <% else %>
    No saved report.
  <% end %>
  </p>

  <%= form_tag({ :action => :upload }, :class => 'form-inline', :multipart => true) do %>
    <fieldset>
      <%= label_tag :tweetdata, 'Upload tweets.zip file: ' %>

      <div class="fileupload fileupload-new" data-provides="fileupload">
        <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" id="tweetdata" name="tweetdata" /></span>
        <span class="fileupload-preview"></span>
        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
      </div>

      <button type="submit" class="btn btn-primary">Upload</button>
    </fieldset>
  <% end %>

<% end %>

<hr>
<footer>
<p><%= link_to 'Logout', :action => :logout %> | <%= link_to 'Help/About', :action => :about %></p>
</footer>
