<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter Archive Stats</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>

  <%= stylesheet_link_tag "twstat-report", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css" />
  
  <%= javascript_include_tag "twstat-report" %>
  <script type="text/javascript">
      /*jslint white: true, browser: true */
      function drawCharts() {
	  "use strict";

          draw_by_month(
              [ <%== @by_month_data %> ], 
              new Date(<%= @by_month_min %>), 
              new Date(<%= @by_month_max %>)
          );

          draw_by_dow(
              [ <%== @by_dow_data['alltime'] %> ],
              "Tweets by Day of Week (<%= @count_defs[:alltime][:title] %>)",
              "by_dow_alltime"
          );
          draw_by_dow(
              [ <%== @by_dow_data['last30'] %> ],
              "Tweets by Day of Week (<%= @count_defs[:last30][:title] %>)",
              "by_dow_last30"
          );

          draw_by_hour(
              [ <%== @by_hour_data['alltime'] %> ],
              "Tweets by Hour (<%= @count_defs[:alltime][:title] %>)",
              "by_hour_alltime"
          );
          draw_by_hour(
              [ <%== @by_hour_data['last30'] %> ],
              "Tweets by Hour (<%= @count_defs[:last30][:title] %>)",
              "by_hour_last30"
          );

          draw_by_mention(
              [ <%== @by_mention_data['alltime'] %> ],
              "Top Mentions (<%= @count_defs[:alltime][:title] %>)",
              "by_mention_alltime"
          );
          draw_by_mention(
              [ <%== @by_mention_data['last30'] %> ],
              "Top Mentions (<%= @count_defs[:last30][:title] %>)",
              "by_mention_last30"
          );

          draw_by_mention(
              [ <%== @by_source_data['alltime'] %> ],
              "Top Clients (<%= @count_defs[:alltime][:title] %>)",
              "by_source_alltime"
          );
          draw_by_mention(
              [ <%== @by_source_data['last30'] %> ],
              "Top Clients (<%= @count_defs[:last30][:title] %>)",
              "by_source_last30"
          );

      }

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCharts);
      $(document).ready(function() {
	  "use strict";

          cloud_by_words(
              [ <%== @by_words_data['alltime'] %> ],
              "by_words_alltime"
          );
          cloud_by_words(
              [ <%== @by_words_data['last30'] %> ],
              "by_words_last30"
          );
      });
  </script>
</head>

<body>
  <h1>Twitter Archive Stats</h1>
  <h2><%= @subtitle %></h2>

  <noscript>
    <div class="noscript_text">
      Please enable Javascript. It is needed to display charts and word clouds.
    </div>
  </noscript>

  <table>
    <tr>
      <td colspan="2">
        <div id="by_month"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="by_dow_alltime"></div>
      </td>
      <td>
        <div id="by_dow_last30"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="by_hour_alltime"></div>
      </td>
      <td>
        <div id="by_hour_last30"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="by_mention_alltime"></div>
      </td>
      <td>
        <div id="by_mention_last30"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="by_source_alltime"></div>
      </td>
      <td>
        <div id="by_source_last30"></div>
      </td>
    </tr>
    <tr>
      <td>

        <table>
          <caption>Words (all time)</caption>
          <tr>
            <td>
              <div id="by_words_alltime"></div>
            </td>
          </tr>
        </table>

      </td>
      <td>

        <table>
          <caption>Words (last 30 days)</caption>
          <tr>
            <td>
              <div id="by_words_last30"></div>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>

